@import '../../constants/mixins/breakpoints.scss';
.demo-content-container{
    margin-top: 5vmax;
    margin-bottom: 5vmax;
    display: flex;
    gap: 1vmax;
    height: auto;
    @include media('<tablet') {
        flex-direction: column;
        align-items: center;
    }
}

.demo-content-info-container {
    margin: 0 4vmax;
    @include media('>tablet') {
        width: 30%;
    }
}

.demo-content-video-container {
    width: 60%;
    height: 35vmax;
    border-radius: 2vmax;
    position: sticky;
    top: 8vmax;
    margin-right: 4vmax;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebef1,
        -20px -20px 60px #ffffff;
    border-radius: 2vmax;
    @include media('<tablet') {
        display: none;
    }
}
.demo-content-video-container-mobile {
    height: 45vmax;
    margin-bottom: 2rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebef1,
        -20px -20px 60px #ffffff;
    border-radius: 2vmax;
    animation: fadeIn ease 5s;
        -webkit-animation: fadeIn ease 5s;
        -moz-animation: fadeIn ease 5s;
        -o-animation: fadeIn ease 5s;
        -ms-animation: fadeIn ease 5s;
    @include media('>tablet') {
        display: none;
    }
}
.video-object {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vmax;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}