.card-container {
    margin-bottom: 10vmax;
}

.card-item-heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(60deg, #ff3a7c, #741eff);
}

.card-item-subheading {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}

.card-item-description {
    text-align: left;
    color: rgb(107 114 128);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}