$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin small-only {
    @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
        @content;
    }
}

@mixin medium-up {
    @media (min-width: #{$medium-width}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-width}) {
        @content;
    }
}