@import '../../constants/colors.scss';
@import '../../constants/mixins/button.scss';
@import '../../constants/mixins/media_queries.scss';

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    padding-top: 8rem;
    margin-bottom: 12rem;
    @include small-only {
        padding-top: 3.5rem;
    }
}
.header-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: center;
    padding: 0 20rem;
    @include small-only {
        padding: 0 4rem;
        font-size: 2.5rem;
    }
}
.header-subtitle {
    font-size: medium;
    text-align: left;
    color: #{$subtitle-gray};
    font-weight: 500;
    line-height: 1.75rem;
    padding: 0 18rem;
    @include small-only {
        padding: 0 4rem;
        line-height: 1.2rem;
        margin: 2rem 0;
    }
}
.button-brand-view {
    @include button;
    background-color: #{$surface-white};
}