@import '../../constants/colors.scss';
@import '../../constants/mixins/button.scss';
@import '../../constants/mixins/breakpoints.scss';
.sticky-nav {
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar-background {
    background-color: #{$surface-dark};
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 3rem;
}

.navbar-section-start {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #{$white};
    .nav-item-button {
        @include media('<tablet') {
            display: none;
        }
    }
}



.navbar-section-end {
    display: flex;
    flex: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .demo-button {
        @include media('<tablet') {
            display: none;
        }
    }
    .navbar-section-end-dropdown-button {
        @include media('>tablet') {
            display: none;
        }
    }
}

.demo-button {
    @include button;
    background-image: linear-gradient(135deg, #{$blue}, #{$voilet});
    color: #{$button-text-white};
}

.nav-item-button {
    @include button;
    background-color: transparent;
    color: #{$button-text-white};
}
.mobile-nav-menu-wrapper {
    @include media('>tablet') {
        display: none;

        &::before {
            content: 'Phone View';
        }
    }
    background-color: #{$surface-dark};
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 3rem;
    gap: 10px;
    .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .mobile-nav-menu-item {
            @include button;
            color: #{$button-text-white};
            background: none;
            padding-left: 0px;
        }
    }
    .demo-button {
        @include media('<tablet') {
            padding: .5rem 1.2rem;
            border-radius: 4px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}